@use '@styles/mixin' as *;

:global {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
}

html {
    font-size: 62.5%;
}

body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-family: 'M PLUS 1', 'BIZ UDPGothic', 'メイリオ', Meiryo, sans-serif;
    color: var(--black_1);
    overflow-y: scroll;
    background-color: var(--bg);
    @include font(mid, var(--black_1));
}
