// ブレークポイント設定 ======================
$break: 834;
$bigBreak: 1600;
$PCWindowWidth: 1440;

// カラー ======================
:root {
    --white_1: #ffffff;
    --black_1: #111111;
    --bg: #ffffff;
    --error: #d6000f;
    --warning: #ffe600;
    --disabled: #c4c4c4;
    --header: #ffffff;
    --sidemenu: #fcfcfc;
    // --sidemenu: #e1e1e2;
    --main: #ffffff;

    --border: #e1e1e2;
    --base: #5e5e5e;
    --icon: #52525b;
}

// イージング ======================

// タイム ======================

// その他 ======================
