@use '@styles/mixin' as *;
.root {
    grid-area: main;
    background-color: var(--main);
    padding: 4rem 6rem;
    border-top: 0.2rem solid var(--border);
    // @include font(extra-bold);
    min-height: 100%;
    background-image: radial-gradient(
        circle,
        rgba(#3b3b6b, 0.35) 1px,
        transparent 1px
    );
    background-position: 0 0;
    background-size: 4rem 4rem;
}
