@use '@styles/mixin' as *;
.root {
    grid-area: main;
    background-color: var(--main);
    padding: 4rem 3.2rem;
    border-top: 0.1rem solid var(--border);
    @include font(extra-bold);
    border: 0.2rem solid black;
    min-height: 100%;
}
