@use '@styles/mixin' as *;
.root {
    grid-area: header;
    background-color: var(--header);
    display: grid;
    place-content: center;
    position: relative;
}
h1 {
    @include font(extra-bold, var(--base-dark));
}
.logo {
    width: auto;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
